@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Index Category</h1>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th style="color : white">Category Name</th>
            <th style="color : white">Category Order</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
           <tr>
               <td style="width : 50%; color : white">@obj.Name</td>
                <td style="width : 30% ; color : white">@obj.DisplayOrder</td>
           </tr>
        }
    </tbody>
</table>

